p,h4 {
    font-size: 2em;
    color: rgb(168, 227, 255);
    line-height: 1.6em;
}

.quote{
    margin-top: 20px;
}
.quote-text{
    text-align: center;
}
.quote-author{
    text-align: right;
}

h4{
    border-bottom: 1px solid rgb(168, 227, 255);
}
