.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url('https://ak1.picdn.net/shutterstock/videos/2761841/thumb/1.jpg?i10c=img.resize(height:160)')
  }
  
  .hero::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  }
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero h1, .hero h2, .hero h3{
    color: rgb(168, 227, 255);
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  }
  .home-link{
    color: rgb(12, 176, 255)
  }
  