.wrapper {
    background-image: url('https://www.sportdiver.com/sites/sportdiver.com/files/images/2017/06/bonaire_coral_reef_0.jpg');
    background-size: cover;
    margin-top: 50px;
    font-family: 'Archivo Narrow', sans-serif !important;
}