.footer {
    min-height: 50px;
    background: #E5E5E5;
    position: relative;
    background-color: rgb(0, 71, 106);
    border-top: 2px solid #0d47a1;
    
  }
  
  .footer span {
    height: 100%;
    color: rgb(119, 211, 255) !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    background: #B8B8B8;
    text-align: center;
    background-color: rgb(0, 71, 106);
    font-family: 'Archivo Narrow', sans-serif !important;
    font-size: 1.6em;
  }
  