.card{
    background-color: #82b1ff;
    height: 225px;
    width: 325px;
    position: relative;
    box-shadow: 0 3px 6px #1565c0, 0 3px 6px #1565c0;
    margin-top: 20px; 
    padding: 10px 0px 0px 10px;
}

.card:hover{
    background-color: darkblue;
}

.fish-img{
    height: auto;
    width: 95%;
}